:root {
  --appcolor: #000725;
  --apphighlight: rgb(77, 76, 76);
}

.fa {background-color:transparent;}

.w3-button-app:hover {background-color:var(--appcolor) !important;}
.w3-button-highlight:hover {background-color:var(--apphighlight) !important;color:var(--appcolor) !important;}
.w3-button-transparent:hover {background-color:transparent !important;}
.w3-dropdown-app-hover:hover > .w3-button-app:first-child,.w3-dropdown-click:hover > .w3-button:first-child {background-color:var(--appcolor);color:#fff !important;}

body {background-color:rgba(0, 0, 0, 0.8);color:rgb(137, 137, 192);}

.active {background-color:var(--appcolor);}
.highlight {background-color:var(--apphighlight);}

#mainNav, #collapsedNav {background:#202944;}

#mainNav .w3-dropdown-hover .w3-dropdown-content a,
#collapsedNav .w3-dropdown-hover .w3-dropdown-content a
{background-color:rgb(56, 56, 168);color:rgb(179, 179, 187);}

#mainNav .w3-bar-item:hover,
#collapsedNav .w3-bar-item:hover,
#mainNav .w3-dropdown-hover .w3-dropdown-content a:hover,
#collapsedNav .w3-dropdown-hover .w3-dropdown-content a:hover
{color:#fff !important;}

#projectLoader, #todoLoader {color:var(--appcolor);}
#projectView {border-right: 2px solid var(--apphighlight);}
#projectList li:hover {background:var(--apphighlight) !important;}
#projectList > li:hover > .fa-bolt {color:#fff !important;}

#todoAllList li:hover, #todoAllList li button:hover,
#todoProcessingList li:hover, #todoProcessingList li button:hover,
#todoTestingList li:hover, #todoTestingList li button:hover,
#todoIdleList li:hover, #todoIdleList li button:hover
#TodoFinished li:hover, #TodoFinished li button:hover
{background:var(--apphighlight) !important;}

.todocounterspan {color:#fff!important;}

.stateselectorbutton {background-color:rgb(56, 56, 168);color:rgb(179, 179, 187);}
.stateselectorbutton:hover {color:#fff!important;}
.stateselectorseparator{border-top: 2px solid #000;margin:0;}

.w3-modal-content {background:transparent;}
.modalinputfield {box-shadow:5px 5px 50px;}

#editorNav .w3-button {background:var(--apphighlight);color:var(--appcolor);}
#editorNav .w3-button:hover {background:var(--appcolor) !important;color:var(--apphighlight) !important;}

/* markdown rendered elems */
.w3-ul li ul li, .w3-ul li ol li {border:none;}
.w3-ul li blockquote {background:lightgray;border-left:5px solid gray;margin:0px;padding: 5px 5px 5px 10px;}
.w3-ul li:hover blockquote {background:#fdf5e6;border-left:5px solid var(--appcolor);}
.w3-ul li table {border-collapse: collapse;}
.w3-ul li table tr th, .w3-ul li table tr td {border:1px solid black;padding:5px;}
.w3-ul li pre {background:var(--apphighlight);color:#fff;padding:5px;border-radius:5px;}
.w3-ul li:hover pre {background:#fff;color:#000;}
