:root {
  --appcolor: #e4438a;
  --apphighlight: #c51261;
}

html {background:#e4438a;}

.fa {background-color:transparent;}

.w3-button-app:hover {background-color:var(--appcolor) !important;color:#fff !important;}
.w3-button-highlight:hover {background-color:var(--apphighlight) !important;color:var(--appcolor) !important;}
.w3-button-transparent:hover {background-color:transparent !important;}
.w3-dropdown-app-hover:hover > .w3-button-app:first-child,.w3-dropdown-click:hover > .w3-button:first-child {background-color:var(--appcolor);color:#fff !important;}

.active {background-color:var(--appcolor);color:#fff !important;}
.highlight {background-color:var(--apphighlight);color:#fff !important;}

#mainNav, #collapsedNav {background:#ff529e;color:#fff !important;}

#projectLoader, #todoLoader {color:var(--appcolor);}
#projectView {border-right: 2px solid var(--apphighlight);background:#e89cbe;}
#projectList li:hover {background:var(--apphighlight) !important;color:#fff;}
#projectList > li:hover > .fa-bolt {color:#fff !important;}

#todoView {background:#e89cbe;}
#todoAllList li:hover, #todoAllList li button:hover,
#todoProcessingList li:hover, #todoProcessingList li button:hover,
#todoTestingList li:hover, #todoTestingList li button:hover,
#todoIdleList li:hover, #todoIdleList li button:hover
#TodoFinished li:hover, #TodoFinished li button:hover
{background:var(--apphighlight) !important;color:#fff;}

.todocounterspan {color:#fff!important;}

.w3-modal-content {background:transparent;}
.modalinputfield {box-shadow:5px 5px 50px;}

#editorNav .w3-button {background:var(--apphighlight);color:var(--appcolor);}
#editorNav .w3-button:hover {background:var(--appcolor) !important;color:var(--apphighlight) !important;}

/* markdown rendered elems */
.w3-ul li ul li, .w3-ul li ol li {border:none;}
.w3-ul li blockquote {background:lightgray;border-left:5px solid gray;margin:0px;padding: 5px 5px 5px 10px;}
.w3-ul li:hover blockquote {background:#fdf5e6;border-left:5px solid var(--appcolor);}
.w3-ul li table {border-collapse: collapse;}
.w3-ul li table tr th, .w3-ul li table tr td {border:1px solid black;padding:5px;}
.w3-ul li pre {background:var(--apphighlight);color:#fff;padding:5px;border-radius:5px;}
.w3-ul li:hover pre {background:#fff;color:#000;}
